alembic==0.8.4
blinker==1.4
coverage==4.0.3
Flask==0.10.1
Flask-Mail==0.9.1
Flask-Migrate==1.7.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Testing==0.4.2
Flask-WTF==0.12
itsdangerous==0.24
jellyfish==0.5.1
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
psycopg2==2.6.1
python-editor==0.5
slugify==0.0.1
SQLAlchemy==1.0.11
us==0.9.1
Werkzeug==0.11.3
wheel==0.26.0
WTForms==2.1
