{% extends 'base.html' %}
{% block title %}AdoptMe.com{% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p class="h4">Who do you want to adopt <u>{{ puppy.name }}</u>?</p>
		<form method="post" action="">
			<select name="pupadopt" class="selectpicker" data-live-search="true">
				{% for ad in adoptors %}
				<option  value="{{ ad.id }}">{{ ad.name }}</option>
				{% endfor %}
			</select>
			<button class="btn btn-success" type="submit">Select</button>
		</form>
	</div>
</div>
{% endblock %}