{% extends 'base.html' %}
{% block title %}AdoptMe.com{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12 text-center">
		<a class="btn btn-lg btn-danger" href="{{ url_for('new_adoptor') }}">Become an Adoptor</a><br><br><br>
		<h1>A list of potenial Adoptors</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<ul class="list-unstyled">
			{% for ad in adoptors %}
			<div class="thumbnail text-center">
				<li><p class="h3">{{ ad.name }}</p>&nbsp;&nbsp;<small><a href="{{ url_for('edit_adoptor', adoptor_id=ad.id) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></small></a></small>&nbsp;&nbsp;|&nbsp;&nbsp;<small><a href="{{ url_for('delete_adoptor', adoptor_id=ad.id) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></small></li>
			</div>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}