{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">

<h1 class="text-center">Edit an Adoptor</h1>

<form method="post" action="">
	{{ form.csrf_token }}
	
{{ form.name(class="form-control", placeholder="Add your name here...") }}<br>

<span class="error bg-danger">
{% if form.name.errors %}
{% for error in form.name.errors %}
<div class="bg-danger">{{ error }}</div>
{% endfor %}
{% endif %}
</span><br>

{{ form.submit(value="Edit an Adoptor", class="form-control btn btn-danger") }}
<a class="form-control btn btn-default" href="{{url_for('adoptor_list')}}">Cancel</a>
</form>

</div>
</div>


{% endblock %}