{% extends 'base.html' %}
{% block title %}AdoptMe.com{% endblock %}
{% block content %}

<blockquote>
	<p>List of past adoptions</p>
	<footer>Get yourself on the <cite title="List">adoption list</cite></footer>
</blockquote>
<ul class="list-group">
	{% for adoption in adoptions %}
	<li class="list-group-item"><mark><span class="text-primary">{{ adoption.adoptors.name }}</span></mark>	has adopted  <mark><span class="text-success">{{ adoption.puppies.name }}</span></mark> from <mark><span class="text-danger">{{ adoption.puppies.shelter.name }}</span></mark>&nbsp;on&nbsp;<u><i>{{ adoption.format_date }}</i></u>.<span class="label label-danger pull-right">{{ adoption.adopt_date }}</span>&nbsp;&nbsp;</li>
	{% endfor %}
</ul> 

{% endblock %}